.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

input{
    height: 20px;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,
s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    margin:0;
    padding:0;
    border:0;
}

.flowchart-demo .window {
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    min-width: 80px;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica;
    padding: 0.5em;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.flowchart-demo .window:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.flowchart-demo .active {
    border: 1px dotted green;
}

.flowchart-demo .hover {
    border: 1px dotted red;
}

.flowchart-demo ._jsPlumb_connector {
    z-index: 4;
}

.flowchart-demo ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}

.endpointTargetLabel{
    width: 32px;
    text-align: center;
}

.endpointSourceLabel{
    width: 80px;
}

.flowchart-demo .aLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

.flowchart-demo .aLabel._jsPlumb_hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.window._jsPlumb_connected {
    background-color: #5C96BC;
    border: 2px solid #346789;
}

.jsplumb-drag {
    border: 4px solid pink !important;
}

path, ._jsPlumb_endpoint {
    cursor: pointer;
}

#flowchartAnalogA{
    width: 300px;
    top: 5em;
    left: 10em;
    background: green;
    border-color: darkgreen;
    color: white;
}

#flowchartDigitaD{
    width: 300px;
    top: 5em;
    left: 56em;
    background: red;
    border-color: darkred;
    color: white;
}

.locatezero {
    top: 190px;
    left: 150px;
}

#modal{
    display: block;
    width: 100%;
    height: 100%;
    background: #000 none repeat scroll 0% 0%;
    opacity: 0.9;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1001;
}

#login{
    display: block;
    top: 50%;
    left: 50%;
    position: fixed;
    z-index: 1002;
    background-color: #F4F4F4;
    margin-left: -200px;
    margin-top: -150px;
    padding: 0px;
    width: 400px;
    height: 300px;
}

.sysbutton{
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    font-size: 14px !important;
}

.sysbutton:hover{
    box-shadow: 1px 1px 5px #346789;
    background-color: #346789;
    transition: color 0.15s ease-out 0s;
    color: white;
}

.sysbutton:visited{
    transition: color 0.15s ease-in 0s;
}

.explanation p{
    font-weight: 500;
    font-size: 14px;
    margin: 0 0 10px;
}

.explanation h1{
    margin-bottom: 6px;
}

.explanation, #main, .right-side{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#send-pass {
    background-color: green;
    padding: 3px;
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    border-radius: 0.2em;
    border-style: none;
    cursor: pointer;
}

#send-pass:hover{
    box-shadow: 1px 1px 10px darkgreen;
}

#form-login {
    top:62%;
    left:50%;
    float: left;
    position: absolute;
    margin-left: -200px;
    text-align: center;
}
#form-login label{
    margin-bottom: 10px;
    display: inline-block;
}

#form-login label, #form-login input{
    width: 330px;
}

.code-generated h1{
    padding: 10px 10px 0;
    margin: 0 0 10px;
}

.code-generated{
    width: 80%;
    max-width: 1200px;
    background-color: white;
    margin: 50px auto 0;
    margin-bottom: 10px;
}

.code-area{
    white-space: pre;
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    font-size: 11.5px;
    line-height: 18px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 15px;
}

.float-config{
    display: block;
    top: 50%;
    left: 50%;
    position: fixed;
    z-index: 1002;
    background-color: #F4F4F4;
    margin-left: -350px;
    margin-top: -250px;
    padding: 0px;
    width: 700px;
    height: 500px;
    padding: 10px;
}

.buttons-config{
    display: block;
    width: 97.5%;
    margin-bottom: 5px;
    text-align: right;
    position:absolute;
    top: 92%;
}

.float-config p{
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
    margin-bottom: 6px;
}

.float-config h3{
    margin: 0 0 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.right-side{
    float: right;
    width: 61%;
    height: 390px;
    padding: 10px 15px 10px;
    border: 1px solid black;
    border-radius: 5px;
    overflow-x: auto;
}

.left-side{
    float: left;
    width: 33%;
}

.left-side select{ 
    width: 100%;
    height: 373px;
    border: 1px solid black;
    border-radius: 5px;
}

.left-side p{
    width: 100%;
    display: block;
    margin: 0 0 9px;
}

.left-side p input{
    width: 182px;
}

.right-side p span{
    display: block;
    overflow: hidden;
}

.right-side p label{
    float: left;
    margin: 5px 5px 0;
}

.right-side p input{
    width: 98%;
}

.right-side input[name="pinsDevice"]{
    display: inline-block;
    width: 60px;
    height: 15px;
}

.right-side p legend{
    display: inline-block;
    width: 61px;
    text-align: center;
    margin: 0px 4px 0 5px;
    padding: 0;
    float: left;
}

.right-side textarea{
    width: 412px;
}

.left-side select{
    padding: 4px;
}

.pins-newdevice{
    text-transform: none;
    width: 92px !important;
    margin: 0;
}

.tipos-pinos{
    text-align: center !important;
}

.tipos-pinos input{
    width: 15px !important;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
}

.tipos-pinos label{
    width: 100px;
    float: none !important;
    text-align: left;
    display: inline-block;
    margin: 0 0 5px !important;
    padding: 0;
}

.tipos-pinos span{
    display: inline-block !important;
    width: 99px;
    height: 69px;
}

.label-types{
    padding-left: 2px;
}

.label-types label{
    float: none !important;
    padding: 0;
    margin: 0 !important;
    width: 99px;
    height: 19px;
    display: inline-block;
}

.metodos-permitidos input{
    width: 15px !important;
    margin: 2px 3px 0px;
    float: left;
}

.metodos-permitidos label{
    margin-top: 0px !important;
}

.metodos-permitidos span{
    width: 27%;
    display: inline-block !important;
}

#load-json{
    display: inline;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
}

#load-json span{
    cursor:pointer;
}

.load-json{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}  